body {
  margin: 0px;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #2b338f;
  height: 128px;
}

header .logo {
  height: 72px;
  margin-top: 15px;
}

header,
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  width: 40%;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: #2b338f solid 1px;
}

main .main_heading {
  margin-bottom: 0px;

  border-bottom: #2b338f 2px solid;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 42px;
}

main .imgAndLogo {
  padding-top: 18px;
  position: relative;
  margin: 0, 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .imgAndLogo .ActiveLogo {
  position: absolute;
  transform: translate(120%, -62%);
}

main .imgAndLogo .imgAndInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .imgAndLogo .imgAndInfo img {
  border: #2b338f 5px solid;
  border-radius: 5px;
}

main .imgAndLogo .imgAndInfo h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  line-height: 39px;
  font-size: 26px;
  margin-bottom: 0;
}

main .imgAndLogo .imgAndInfo h2 {
  color: #2b338f;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}

main .fullDetail {
  padding: 20px 0 40px 0;
  width: 60%;
}

main .fullDetail ul {
  height: 208px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .fullDetail ul li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  width: 100%;
}

main .fullDetail ul li label,
main .fullDetail ul li span {
  display: inline-block;
}

main .fullDetail ul li label {
  margin-left: 32%;
  width: 20%;
}
main .fullDetail ul li span {
  width: 32%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-bottom: #2b338f 1px solid;
}

section p {
  width: 19%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2b338f;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  color: #2b338f;
  letter-spacing: 0.395em;
}

main .mobile-logo {
  display: none;
}

footer p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.395em;
}

footer span {
  height: 10px;
  width: 1px;
  background-color: #2b338f;
  margin-right: 10px;
}

/* .vector {
  width: 100%;
  position: fixed;
  right: auto;
} */

.vector {
  background-image: url("./Assests/img/Frame_desk.png");
  width: 100%;
  position: fixed;
  right: auto;
  height: 100%;
  z-index: -10;
}

.vector_mobile1 {
  background-image: url("./Assests/img/Frame.png");
  z-index: -10;
  width: 100%;
  position: fixed;
  right: auto;
  height: 100%;
}
.vector_mobile2 {
  background-image: url("./Assests/img/Frame\ 53.png");
  z-index: -10;
  width: 100%;
  position: fixed;
  right: auto;
  height: 100%;
}

/* togglebar css////////////////////////// */

header .togglebar {
  display: none;
}

.togglebar label {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

.togglebar label span {
  background: black;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.togglebar span:nth-of-type(1) {
  width: 50%;
}

.togglebar span:nth-of-type(2) {
  width: 100%;
}

.togglebar span:nth-of-type(3) {
  width: 75%;
}

.togglebar input[type="checkbox"] {
  display: none;
}

.togglebar input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

.togglebar input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.togglebar input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}

/* end of toggle css */

.mobileNav {
  display: none;
}

/* media screen for 1250 ////////////////////////////////// */

@media (max-width: 1250px) {
  header nav ul {
    width: 60%;
  }
}

/* media screen for 850 ////////////////////////////////// */

@media (max-width: 850px) {
  .mobileNav {
    background-color: #e5e5e5;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100vh;
    width: 40vw;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .openMobileNav {
    display: flex;
  }
  /* .closeMobileNav {
    display: none;
  } */

  .mobileNav nav {
    height: 80vh;
  }
  .mobileNav nav ul {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
  }
  nav ul li a {
    text-decoration: none;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header .toggle_main {
    width: 70px;
    height: 63px;
    margin-right: 19px;
  }

  header .togglebar {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 63px;
    justify-content: space-between;
    align-items: center;
  }

  header nav {
    display: none;
  }

  header .logo {
    width: 250px;
    margin-left: 25px;
  }

  main .imgAndLogo .ActiveLogo {
    display: none;
  }

  main .imgAndLogo {
    flex-direction: column;
  }

  main .mobile-logo {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    display: block;
  }

  main .fullDetail ul li {
    height: 50px;
  }

  main .fullDetail ul {
    height: 400px;
  }
  main .fullDetail ul li label,
  main .fullDetail ul li span {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0;
    width: auto;
  }

  section p {
    width: 80%;
    text-align: center;
  }

  footer span {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer h4,
  footer p {
    text-align: center;
  }

  .vector {
    display: none;
  }
}

/* media screen for 650 ////////////////////////////////// */

@media (max-width: 650px) {
  header nav {
    display: none;
  }

  main .imgAndLogo .ActiveLogo {
    display: none;
  }

  main .imgAndLogo {
    flex-direction: column;
  }

  main .mobile-logo {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
  }

  main .fullDetail ul {
    display: block;
    height: 400px;
  }

  main .fullDetail ul li {
    display: block;
    height: 70px;
  }

  main .fullDetail ul li:nth-child(5) {
    height: 92px;
  }

  main .fullDetail ul li span {
    height: 63px;
  }

  main .fullDetail ul li label,
  main .fullDetail ul li span {
    display: block;
    /* display: flex; */
    /* flex-direction: column;
    text-align: center; */
    /* margin-left: 0; */
    /* width: auto; */
  }

  main .fullDetail ul li span {
    word-wrap: break-word;
  }

  section p {
    width: 80%;
    text-align: center;
  }

  footer span {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer h4,
  footer p {
    text-align: center;
  }

  .vector {
    display: none;
  }
}
